name: 'Build'

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed
  pull_request:
  push:
    paths-ignore:
    - '**.md'
    - '**.org'
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  dist:
    runs-on: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v2

    - run: npm install
    - run: npm run-script build

    - name: Set git config
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com

    - name: Push dist
      continue-on-error: true
      run: |
        git pull
        git add .
        git commit -m "Update dist"
        git push
